<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="user-scalable=0">
  <meta property="og:type" content="website" />
  <meta property="og:description" content="Chúc mừng năm mới - Giáp Thìn 2024">
  <meta name="description" content="Chúc mừng năm mới - Giáp Thìn 2024">

  <title>HAPPY NEW YEAR - 2024</title>

  <link rel="stylesheet" href="assets/css/self.css">
  <link rel="stylesheet" href="assets/css/count_down.css">
  <link rel="stylesheet" href="assets/css/fireworks.css">
  <link rel="stylesheet" href="assets/css/style.css">
</head>

<body>
  <canvas id="canvasSnow"></canvas>

  <div class="holder">
    <div class="new-year">
    </div>
    <div class="den-long__group">
      <img src="assets/img/den_long.png" />
      <img src="assets/img/den_long.png" />
    </div>
    <div class="group__common dragon">
      <img src="assets/img/dragon.png" />
    </div>
    <div class="group__common tet_xum_vay">
      <img src="assets/img/tet_xum_vay.png" />
    </div>
  </div>

  <!-- App -->
  <div class="container__firework">
    <div class="stage-container__firework">
      <div class="canvas-container__firework">
        <canvas id="trails-canvas"></canvas>
        <canvas id="main-canvas"></canvas>
      </div>
    </div>
  </div>


  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.0.2/TweenMax.min.js"></script>
  <script src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/329180/fscreen%401.0.1.js"></script>
  <script src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/329180/Stage%400.1.4.js"></script>
  <script src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/329180/MyMath.js"></script> 
  <script src="assets/js/count_down.js"></script>
  <script src="assets/js/fireworks.js"></script>
  <script src="assets/js/snowflake.js"></script>
  <script src="assets/js/script.js"></script>
</body>

</html>